
body{
	padding: 0;
	margin: auto;
	width:100%;
	height:100%;
	background-image:url('../img/svg/fond2.svg');
	background-size: 80%;
}
svg{
	position:absolute;
	bottom: 0;
	max-height: 100%;
	width:100%;
	background-image:url('../img/svg/fondSVG.svg');
}

html{
	background: radial-gradient(#733626, #26120d); /** #6ccec8  #eedbf3 **/
}
#nes{
	position : absolute;
	width: 250px;
	height: 250px;
	background-color: black;
	top: 34%;
	left: 53%;
}

#texte{

font-family: nowHereBound;
font-size: 30px;
stroke:#35699e;
fill:#35699e;
}

#signature{
font-size:20px;
}


.nes-zoom{
	display:none;
}

.nes-roms select{
	/*display:none;*/
}